---
layout: page
title: 태그
kicker: TAGS
description: 관심 있는 주제의 글을 모아보세요.
permalink: /tags/
---

{% assign sorted_tags = site.tags | sort %}
{% if sorted_tags.size > 0 %}
  <nav class="tag-cloud" aria-label="태그 바로가기">
    {% for tag in sorted_tags %}
      <a href="#{{ tag[0] | slugify }}">#{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
    {% endfor %}
  </nav>
  <div class="tag-sections">
    {% for tag in sorted_tags %}
      <section id="{{ tag[0] | slugify }}" aria-labelledby="tag-{{ tag[0] | slugify }}">
        <h2 id="tag-{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>
        <ol>
          {% for post in tag[1] %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y.%m.%d' }}</time>
            </li>
          {% endfor %}
        </ol>
      </section>
    {% endfor %}
  </div>
{% else %}
  <p>아직 등록된 태그가 없습니다.</p>
{% endif %}

